*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background-color: #ebf2f6;
  margin:0;
  
}
.weather-card-today {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  width: 500px;
  height: 270px;
  background: #3DB8ED;
  box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1);
  animation: appear 500ms ease-out forwards;
}
.weather-card-today h1 {
  position: absolute;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 80px;
  color: white;
  left: 35px;
  top:55px;
  opacity: 0;
  transition: translatex(150px);
  animation: title-appear 500ms ease-out  500ms forwards;
  
}
.weather-card-today p {
  position: absolute;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 28px;
  color: #423232;
  bottom: 0;
  left: 35px;
  top: 18px;
  animation: title-appear 500ms ease-out  500ms forwards;
}
.weather-card-today .data1 {
  position: absolute;
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #F91313;
  left: 35px;
  top: 160px;
  animation: title-appear 500ms ease-out  500ms forwards;
}

.weather-card-today .data2 {
  position: absolute;
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: white;
  left: 35px;
  top: 184px;
  animation: title-appear 500ms ease-out  500ms forwards;
}
.weather-card-today .data3 {
  position: absolute;
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: white;
  left: 35px;
  top: 208px;
  animation: title-appear 500ms ease-out  500ms forwards;
}

.ico1{
  position: relative;
  width: 235px;
  height: 235px;
  top: -2px;
  left: 30px;
  float: right;
  margin: 10px 10px
}

@media only screen and (max-width: 460px) {
    .ico1{
      position: relative;
      width: 155px;
      height: 155px;
      top: 15px;
      left: 20px;
      float: right;
      margin: 10px 10px;      
  }

  .weather-card-today h1 {
    position: absolute;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 55px;
    color: white;
    left: 35px;
    top:75px;
    opacity: 0;
    transition: translatex(150px);
    animation: title-appear 500ms ease-out  500ms forwards;
    
  }
}
.weather-card {
 
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  width: 270px;
  height: 270px;
  background: white;
  box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1);
  animation: appear 500ms ease-out forwards;
}

.weather-card p {
  position: absolute;
  text-transform: capitalize;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 28px;
  color: #423232;
  bottom: 0;
  left: 35px;
  top: 18px;
  animation: title-appear 500ms ease-out  500ms forwards;
}
.weather-card .data1 {
  position: absolute;
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #F91313;
  left: 35px;
  top: 160px;
  animation: title-appear 500ms ease-out  500ms forwards;
}

.weather-card .data2 {
  position: absolute;
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #d2d2d2;
  left: 35px;
  top: 184px;
  animation: title-appear 500ms ease-out  500ms forwards;
}
.weather-card .data3 {
  position: absolute;
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #d2d2d2;
  left: 35px;
  top: 208px;
  animation: title-appear 500ms ease-out  500ms forwards;
}

.ico{
  position: relative;
  width: 150px;
  height: 150px;
  top: 20px;
  right:45px ;
  float: right;
  margin: 10px 10px

}
@keyframes appear {
  0% {
      transform: scale(0);
  }
  50% {
      transform: scale(1.05);
  }
  75% {
      transform: scale(0.95);
  }
  100% {
      transform: scale(1);
  }
}
@keyframes title-appear {
  from {
      opacity: 0;
      transform: translateX(150px);
  }
  to {
      opacity: 1;
      transform: translateX(0px);
  }
}
@keyframes light {
  from {
      box-shadow: rgba(255, 255, 0,0.2) 0 0 0 10px;
  }
  to {
      box-shadow: rgba(255, 255, 0,0.2) 0 0 0 17px;
  }
}

.menu-bars{
  margin-left: 10px;
  margin-right: 10px;
  font-size: 25px;
  color: white;
  background: none;

}

.menu-bars:hover {
  color: grey;
 
}

.nav-menu {
  
  width: 210px;
  height: 100vh;
  display: flex;
  justify-content: start;
  position: fixed;
  top: 0;
  left: -100%;
  
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
  z-index: 100;
}

.nav-menu-items {
width: 100%;
}

.navbar-toggle {

width: 100%;
height: 80px;
display: flex;
margin-top: 45px;
margin-left: 0;

justify-content: center;
align-items: start;
}
.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 0px;
  list-style: none;
  height: 60px;
  font-size: 20px;
  text-decoration: none;
  color:white;
}

.nav-text:hover {

  color: grey;
  text-decoration: none;

}